
.header-container{
    background: var(--blue);

    & .content{
        max-width: 1128px;
        margin: 0 auto;
    
        padding: 0.5rem 1rem;
        height: 4rem;
    
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        & ul{
            display: flex;
            align-items: center;
            gap: 2rem;
        }
        & a{
            color: #fff;
        }
    
    
        & .logo  {
            text-decoration: none;
            color: whitesmoke;
    
            font-size: 5vh;
            font-weight: 600;
            font-style: italic;
            text-shadow: 2px 2px var(--blue-ligth);
            font-family: 'Source Sans Pro', sans-serif;
        }
    
        button{
            font-size: 1rem;
            color: #fff;
            background: var(--blue-ligth);
            border: 0;
            padding: 0.5rem 2rem;
            border-radius: 0.25rem;
            
            transition: filter 0.2s;
            &:hover{
              filter: brightness(0.9);
            }
            
          }
    }

}

